@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background:
    radial-gradient(
      circle at top left,
      rgba(34, 211, 238, 0.12),
      transparent 24%
    ),
    radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0.05),
      transparent 18%
    ),
    #070707;
  color: white;
}
